In [ ]:
c=int(input("ENter a number"))

if c>15:
  print("Num is greater than 15")
else:
  print("num is less than 15")

ENter a number1
num is less than 15

In [ ]:
x=int(input("Enter a number"))
y=int(input("Enter a number"))
if x>y:
  print("X is greater than Y")
elif y>x:
    print("Y is greater than X")
else:
  print("X is equal to Y")

Enter a number1
Enter a number1
X is equal to Y

In [ ]:
Age=int(input("Enter a number"))
if Age<=18:
  print("Not eligible for voting")
else:
    print("Eligible for voting")

Enter a number1
Not eligible for voting

In [ ]:
M=int(input("Enter the mark"))
if M>=90:
  print("The Grade is A")
elif M>=80:
  print("The Grade is B")
elif M>=70:
  print("The Grade is C")
elif M>=60:
  print("The Grade is D")
else:
  print("Study Hard to get grade A like aashutosh")

Enter the mark1
Study Hard to get grade A like aashutosh

In [ ]:
A=int(input("Enter the age of children"))
if A<4:
  print("The entry is free")
elif 4>=A<=16:
  print("The entry fee is 100")
else:
  print("The fee is 175")

Enter the age of children1
The entry is free

In [ ]:
numb = int(input("Enter a number: "))
if numb % 2 == 0:
   print("the number is even")
else:
   print("The number is odd")

Enter a number: 1
The number is odd

In [ ]:
numb = int(input("Enter a number: "))
if numb % 2 != 0:
   print("the number is odd")
else:
   print("The number is even")

Enter a number: 1
the number is odd

In [ ]:
salary=int(input("Enter the current salary"))
exp=int(input("Enter the total experience"))
if exp>=5:
  print("Your new salary is", salary+0.05*salary)
elif exp<=5:
  print("Your salary is", exp)

Enter the current salary12
Enter the total experience2
Your salary is 2

NESTED ELSE IF

In [ ]:
inn=int(input("Enter a number")) #NESTED IF ELSE
if inn>10:
  if inn>20:
    print("The entered number is greater than 20")
  else:
    print("The entered number is less than 20 but greater than 10")
else:
  print("The entered number is less than 10")

Enter a number34
The entered number is greater than 20

In [ ]:
n=float(input("Enter a number "))
if n<=0:
  if n<0:
    print("The number is negative")
  else:
    print("The number is zero")
else:
  print("The number is positive")

Enter a number 10
The number is positive